html{
    scroll-behavior: smooth;
}

html,body{
    margin: 0;
    padding: 0;
}

/* HOME */



.flex{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home{
    display: flex;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 3rem;
    background-color: #31213c;
    font-family: Lucida Sans Regular;
}

.button{
    display: inherit;
    margin: 5% 0 5% 0;
}

button{
    cursor: pointer;
    height: 100%;
    width: 15vw;
    font-size: 1.8rem;
    color: white;
    background-color:inherit;
    font-family: Lucida Sans Regular;
    border: 3px solid white ;
    padding: 4% 4% 4% 4%;
}

button:hover{
    background-color: #2a1c35;
}

/* NAVBAR */
i{
filter: invert(100%);
}

.nav{
    display: flex;
    position: sticky;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #2a1c35;
    justify-content: center;
    align-items: center;
}

.pageLink{
    display: inherit;
    width: 80%;
    height: inherit;
    align-items: center;
}

.link{
    color: #ffffff;
    font-family: Lucida Sans Regular;
    font-size: 1.8rem;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.link:hover{
    color: #faed25;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

a{
    text-decoration: none;
    color: inherit;
}

/* ABOUT */

#about{
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro{
    margin: 5% 0 5% 10%;
    color: #3f3f3f;
    font-size: 1.5rem;
    font-family: Lucida Sans Regular;
}

.about{
    color: #31213c;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 5rem;
    font-family: Lucida Sans Regular;
}

.container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:flex-start;
    align-items: flex-start;
    height: 80%;
    width: 80%;
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 5% 0 0 10%
}

/* PROJECTS */

#projects{
    display: flex;
    width: 100vw;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    z-index: 0;
}

.projects{
    color: #31213c;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 5rem;
    
    font-family: Lucida Sans Regular;
}

.heading{
    color: #faed25;
}

/* CONTACT */

#contact{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #211629;
}

.clinks{
    font-size: 1.5em;
    color: wheat;
    font-family: Lucida Sans Regular;
    margin: 0 10px;
}

.ham{
    display: flex;
    position: sticky;
    bottom: 0;
    top: 0;
}

#menuToggle
{
    display: none;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;
}

#menuToggle a:hover
{
  color: #1c142e;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: lemonchiffon;
  background: #2a1c35;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 88vw;
  margin: -75px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  font-family: Lucida Sans Regular;
  background: #ededed;
  list-style-type: none;
  
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 2rem;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px ) {
    #card{
        height: 98%;
        width: 98%;
    }
}

@media screen and (max-width: 1260px ) {
    #card{
        height: 95%;
        width: 95%;
    }
}

@media screen and (max-width: 1200px ) {
    #intro{
        font-size: 1.2rem;
    }
    button{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 900px ) {
    .container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #intro{
    margin: 0;
    }
    .image{
        height: 200px;
        width: 200px;
        margin: 0;
    }
    .projects{
        margin-top: 2rem;
    }
    .nav{
       display: none;
    }
    .ham{
        display: flex;
        cursor: pointer;
        margin-right: 5%;
    }
    #menuToggle{
        display: block;
    }
    button{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px ) {
    #home{
        font-size: 2.6rem;
    }
    #intro{
        font-size: 1rem;
    }
    button{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 660px ) {
    #home{
        font-size: 1.8rem;
    }
    #intro{
        font-size: 1rem;
    }
}